<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Login Page</h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Loan</a></li>
            <li><a href="">Search Books</a></li>
            <li><a href="">User Profile</a></li>
            <li><a href="">Back</a></li>
        </ul>
    </nav>
</header>

<form action="#" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" placeholder="Enter Username" id="username" name="username" value="">
    </div>
    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" placeholder="Enter Password" id="pass" name="pass" value="">
    </div>
    <input type="submit" value="Sign In">

</form>
</body>
</html>
